.home-infos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem;
  }
  .page-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  @media (min-width: 768px) {
    .home-infos {
      padding: 1rem 2rem;
    }
    .page-container {
      padding: 0 2rem;
    }
  }
  @media (min-width: 1024px) {
    .home-infos {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .home-infos > * {
      flex: 1;
    }
    .page-container {
      padding: 0 1rem;
    }
  
  }